<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <magekc_rsppayment>
                <active>0</active>
                <req_type>PAYMENT</req_type>
                <order_status>order_paid</order_status>
                <model>Magekc\Rsppayment\Model\Payment</model>
                <title>Rising Sun Payment</title>
                <allowspecific>0</allowspecific>
                <min_order_total>0.50</min_order_total>
            </magekc_rsppayment>
            <magekc_rsppayment_cc>
                <active>0</active>
                <order_status>order_paid</order_status>
                <model>Magekc\Rsppayment\Model\PaymentCC</model>
                <payment_action>authorize_capture</payment_action>
                <title>Rising Sun Payment</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <allowspecific>0</allowspecific>
                <min_order_total>0.50</min_order_total>
            </magekc_rsppayment_cc>
        </payment>
    </default>
</config>
