<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <magekc_rsppayment>
                <active>0</active>
                <order_status>order_paid</order_status>
                <model>Magekc\Rsppayment\Model\Payment</model>
                <title>Rising Sun Payment</title>
                <allowspecific>0</allowspecific>
                <min_order_total>0.50</min_order_total>
            </magekc_rsppayment>
        </payment>
    </default>
</config>
