<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Magekc\Rsppayment\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="magekc_rsppayment" xsi:type="const">Magekc\Rsppayment\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="magekc_rsppayment_config_provider" xsi:type="object">Magekc\Rsppayment\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

<!-- for Credit Card Form -->
    <virtualType name="Magekc\Rsppayment\Model\ConfigProviderCC" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="magekc_rsppayment_cc" xsi:type="const">Magekc\Rsppayment\Model\PaymentCC::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="magekc_rsppayment_cc_config_provider" xsi:type="object">Magekc\Rsppayment\Model\ConfigProviderCC</item>
            </argument>
        </arguments>
    </type>

</config>
